{% extends "global/base.html" %}

{% block content %}
<div class="single-contact">
    <h1 class="single-contact-name">
        {{contact.first_name}}
    </h1>
    <p>
        <b>ID :</b>  {{contact.id}}
    </p>

    <p>
        <b>E-mail :</b>  {{contact.email}}
    </p>

    <p>
        <b>Phone :</b>  {{contact.phone}}
    </p>

    <p>
        <b>Created Date :</b>  {{contact.create_date}}
    </p>

    <p>
        <b>Descriptions :</b>  {{contact.description}}
    </p>

    <p>
        <b>Category :</b>  {{contact.cotegory.name}}
    </p>

    {% if contact.picture %}
    <p>
        <img src="{{contact.picture.url}}" alt="{{contact.first_name}}">
    </p>
    {% endif %}
    <div class="contact-links">
        <a class="btn btn-link" href="{% url 'contact:update' contact.id %}">Update</a>
        
        <form action="{% url 'contact:delete' contact.id %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button class="btn btn-link btn-delete" type="submit">Delete</button>
        </form>
    </div>
    
    </div>
</div>    
{% endblock content %}